@import 'variables';
header {
    background-image: url("images/bg-1.jpg");
    /* min-height: 960px; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 25rem;
    margin-bottom: 47px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: $text-light;
    padding-left: $left-space;
    font-family: $fonts-headline;
    border-bottom: 20px solid $accent1;
}

h1 {
    margin-bottom: -1rem;
    font-size: 3.5rem;
}

h1, h2 {
    text-shadow:  5px 5px 5px $background-color;
}

h2 > abbr[title] {
    text-decoration: none;
}

@media (min-width: 768px){
    header{
        height: 30rem;
    }
}