@import 'variables';
.benefits {
    background-image: url("images/bg-3.jpg");
    /* min-height: 960px; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 40rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: $text-light;
    padding-left: $left-space;
}

.benefits>h3 {
    margin-top: 4rem;
}

.benefits>p {
    margin-top: -0rem;
}

@media (min-width:768px) {
    .benefits>p {
        width: 50%;
    }
}