@import url("https://fonts.googleapis.com/css2?family=Cabin:ital@1&family=Lora&family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&family=Oxygen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital@1&family=Lora&family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&family=Oxygen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital@1&family=Lora&family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&family=Oxygen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital@1&family=Lora&family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&family=Oxygen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital@1&family=Lora&family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&family=Oxygen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital@1&family=Lora&family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&family=Oxygen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital@1&family=Lora&family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&family=Oxygen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital@1&family=Lora&family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&family=Oxygen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital@1&family=Lora&family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&family=Oxygen&display=swap");
header {
  background-image: url("images/bg-1.jpg");
  /* min-height: 960px; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 25rem;
  margin-bottom: 47px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #fff;
  padding-left: 1rem;
  font-family: "Oswald", sans-serif;
  border-bottom: 20px solid #D8A459;
}

h1 {
  margin-bottom: -1rem;
  font-size: 3.5rem;
}

@media (min-width: 768px) {
  header {
    height: 30rem;
  }
}
.explanation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #45547B;
  color: #fff;
  font-family: "Oxygen", sans-serif;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
  border-bottom: 20px solid #D8A459;
}

.intro {
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

header {
  grid-column: 1/4;
}

.summary {
  display: flex;
  flex-direction: column;
  background-color: #111F42;
  color: #fff;
  font-family: "Oxygen", sans-serif;
  padding-left: 1rem;
  padding-right: 1rem;
  grid-column: 1/2;
}

.summary p:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.summary p:nth-child(2) a {
  border: 2px solid #D8A459;
  border-radius: 8px;
  text-decoration: none;
  color: #fff;
  padding: 0.4rem 1.2rem 0.4rem 1.2rem;
  text-transform: uppercase;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  transition: all 0.3s ease-in-out;
}

.summary p:nth-child(2) a:hover {
  background-color: #D8A459;
}

.preamble {
  border: 1px solid;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  grid-column: 2/4;
}

@media (min-width: 768px) {
  .intro {
    display: grid;
  }
}
.explanation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #45547B;
  color: #fff;
  font-family: "Oxygen", sans-serif;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
  border-bottom: 20px solid #D8A459;
}

.participation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Oxygen", sans-serif;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
}

.participation p > a {
  color: #7ACEDC;
}

.benefits {
  background-image: url("images/bg-3.jpg");
  /* min-height: 960px; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 40rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #fff;
  padding-left: 1rem;
}

.benefits > h3 {
  margin-top: 4rem;
}

.benefits > p {
  margin-top: 0rem;
}

@media (min-width: 768px) {
  .benefits > p {
    width: 50%;
  }
}
.requirements {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #111F42;
  color: #fff;
  font-family: "Oxygen", sans-serif;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
}

.requirements p > a {
  color: #7ACEDC;
}

p[role=contentinfo] {
  background-color: #D8A459;
  padding: 1rem;
  text-transform: uppercase;
}

p[role=contentinfo] a {
  color: #fff;
}

footer {
  display: flex;
  align-items: flex-start;
  font-family: "Oxygen", sans-serif;
  padding-right: 1rem;
  margin-top: 2.1rem;
}

footer > a {
  text-decoration: none;
  margin-left: 1rem;
}

aside {
  background-color: #d9e0f3;
  margin-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

body {
  font-family: "Oxygen", sans-serif;
}/*# sourceMappingURL=style.css.map */